body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background-color: rgba(151,151,151,0.03);
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;
    border:1px solid rgba(0,0,0,0.04);
    background-color: #ffffff;
    position: fixed;
    left: 0;
    top: 50;
    z-index: 100;
}
.logo img{
    height: 50px;
}
nav .menu{
    display: flex;
}
nav .menu li a{
    height: 40px;
    line-height: 43px;
    margin: 0px;
    padding: 0px 22px;
    display: flex;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 500;
    color:#585858;
    letter-spacing: 1px;
}
.search{
    width:250px;
    height: 40px;
    background-color: rgba(245,245,245,0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 0px 20px;
}
.search input{
    width:100%;
    height: 30px;
    border:none;
    outline: none;
    background-color: transparent;
}

nav .menu li a:hover{
    background-color: #242424;
    color:#c72c2c;
    box-shadow: 5px 10px 30px rgba(53,53,53,0.1);
    transition: all ease 0.2s;
}

#Recentseries{
    border-top: 1px solid rgba(53,53,53,0.1);
}
.RecentSeries-heading{
    margin: 70px 70px 0px 70px;
    font-weight: 500;
    font-size: 1.3rem;
}
.Recentseries-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow:hidden;
    width:200px;
    background-color: #ffffff;
}
.Recentseries-b-img{
    width:100%;
    height: 270px;
}
.Recentseries-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Recentseries-b-text strong{
    color:#3a3a3a;
    margin: 0px;
}
.Recentseries-b-text{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.Recentseries-b-text p{
    color:#979797;
    margin: 0px;
}

#Popularseries{
    border-top: 1px solid rgba(53,53,53,0.1);
}
.Popularseries-heading{
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}
.Popularseries-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow:hidden;
    width:200px;
    background-color: #ffffff;
}
.Popularseries-b-img{
    width:100%;
    height: 270px;
}
.Popularseries-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Popularseries-b-text strong{
    color:#3a3a3a;
    margin: 0px;
}
.Popularseries-b-text{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.Popularseries-b-text p{
    color:#979797;
    margin: 0px;
}
#Realityseries{
    border-top: 1px solid rgba(53,53,53,0.1);
}
.Realityseries-heading{
    margin: 30px 30px 0px 30px;
    font-weight: 500;
    font-size: 1.3rem;
}
.Realityseries-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin: 20px 10px;
    border-radius: 10px;
    overflow:hidden;
    width:200px;
    background-color: #ffffff;
}
.Realityseries-b-img{
    width:100%;
    height: 270px;
}
.Realityseries-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Realityseries-b-text strong{
    color:#3a3a3a;
    margin: 0px;
}
.Realityseries-b-text{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.Realityseries-b-text p{
    color:#979797;
    margin: 0px;
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 1px solid rgba(0,0,0,0.1);
 
}
footer p{
    color:#5e5e5e;
    margin: 10px 0px;
    font-size: 0.9rem;
}
.btn-toolbar{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
}
.btn-groupme-2{
    width: 130px;
    height: 40px;
    border:none;
    outline: none;
    color: #ffffff;
    background-color: #3963f0;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    margin-left: 10%;
}
.btnstoolbar a:hover{
    background-color: #284fd1;
}